<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="opacity-0" lang="en"><!-- BEGIN: Head -->
<head>
	<meta charset="utf-8">
	<meta name="csrf-token" content="ceKdwoQjZ4VuoGqoSQaSREwB7MD9sjwFnfhlp7MH">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="NebulOus admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
	<meta name="keywords" content="admin template, nebulous Admin Template, dashboard template, flat admin template, responsive admin template, web app">
	
	<title>Service Level Creator</title>
	<!-- BEGIN: CSS Assets-->
	<link rel="stylesheet" href="dist/css/vendors/highlight.css">
	<link rel="stylesheet" href="dist/css/vendors/tippy.css">
	<link rel="stylesheet" href="dist/css/themes/nebulous/side-nav.css">
	<link rel="stylesheet" href="dist/css/vendors/simplebar.css">
	<link rel="stylesheet" href="dist/css/components/mobile-menu.css">
	<link rel="stylesheet" href="dist/css/app.css"> <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body>
	<div class="flex overflow-hidden">
	<!-- BEGIN: Content -->
	<div class="max-w-full md:max-w-none rounded-[30px] md:rounded-none px-4 md:px-[22px] min-w-0 min-h-screen bg-slate-100 flex-md:pt-20 pb-10 mt-5 md:mt-1 relative dark:bg-darkmode-700 before:content-[''] before:w-full before:h-px before:block">
		<div class="intro-y mt-8 flex items-center">
			<h2 class="mr-auto text-lg font-medium">Service Level Creator</h2>
		</div>
		<div class="mt-5 grid grid-cols-12 gap-6">
			<div class="intro-y col-span-12 lg:col-span-6">
				<div class="intro-y col-span-12 lg:col-span-6">
					<div class="p-5" id="sls">
						<!-- SLs go here -->
					</div>
					<div class="p-5 grid grid-cols-12 gap-6">
						<span class="mr-auto text-lg font-medium col-span-3">The next SL should be </span>
						<input id="slPercentage" value="50" data-tw-merge="" aria-label="default input inline 1" placeholder="Percentage" type="number" min="1" max="100" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-8050 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sborder-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primarfocus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparendark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-grou:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 col-span-3">
						<span class="mr-auto text-lg font-medium col-span-3"> % more lenient</span>
						<button onclick="addSL()" data-tw-merge class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary col-span-3">Add SL</button>

					</div>	
					<div class="p-5 grid grid-cols-12 gap-6">
						<button onclick="createSLA()" data-tw-merge class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary col-span-3">Create SLA</button>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="dist/js/vendors/dom.js"></script>
	<!-- <script src="dist/js/vendors/tailwind-merge.js"></script> -->
	<!-- <script src="dist/js/utils/helper.js"></script>  -->
	<!-- <script src="dist/js/vendors/highlight.js"></script>
	<script src="dist/js/vendors/tippy.js"></script>
	<script src="dist/js/vendors/lucide.js"></script> -->
	<!-- <script src="dist/js/vendors/simplebar.js"></script> -->
	<!-- <script src="dist/js/vendors/transition.js"></script> -->
	<!-- <script src="dist/js/vendors/dropdown.js"></script> -->
	<!-- <script src="dist/js/vendors/popper.js"></script> -->
	<!-- <script src="dist/js/vendors/modal.js"></script> -->
	<script src="dist/js/components/base/theme-color.js"></script>
	<!-- <script src="dist/js/components/base/lucide.js"></script>
	<script src="dist/js/components/mobile-menu.js"></script> -->
	<!-- <script src="dist/js/components/themes/nebulous/top-bar.js"></script> -->
	<!-- <script src="dist/js/components/base/highlight.js"></script> -->
	<!-- <script src="dist/js/components/base/source.js"></script> -->
	<!-- <script src="dist/js/components/base/preview-component.js"></script> -->
	<script src="dist/js/themes/nebulous.js"></script>	
	<script src="functionality.js"></script>

</body>
</html>